* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.estilo-navbar-head {
    background-color: #353A40;
    padding-inline: 2rem;
    font-size: 1rem;
}

.container-header {
    position: relative;
    display: inline-block;
    text-align: end;
}

.texto-principal {
    position: absolute;
    bottom: 14%;
    margin-right: 9%;
    margin-left: 47%;
}

.mi-titulo {
    color: aliceblue;
    font-weight: 500;
    font-size: 2.8rem;
}

.mi-subtitulo {
    color: aliceblue;
    font-size: 1.4rem;
}

.boton-orador {
    margin-top: 1rem;
    margin-right: 0.5rem;
    color: white;
}

.boton-compra {
    margin-top: 1rem;
    background-color: #2AA746;
    color: aliceblue;
}

.mi-footer {
    max-width: 100%;
    background-color: #353A40;
    padding: 0.1rem;
}

.fondo-gris-padding {
    background-color: #353A40;
    padding-left: 1rem;
}

.estilo-h3 {
    text-align: center;
    margin-top: -1rem;
}

.mi-h5 {
    text-align: center;
    font-weight: 400;
    margin-top: 0.4rem;
}

.estilo-txt-nav-foot {
    color: white;
}

.dot-ul {
    text-decoration-line: underline;
    text-decoration-style: dotted; 
}

.mi-bg-footer {
    background-color: #1E5170;
}